article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%;font-family: Arial;height: 100%;}

body {
background: #D9D9D9;
margin: 0px;
height: 100%;
min-height: 100%;
position: relative;
}

.content{
white-space: nowrap;
max-width: 900px;
margin: 0 auto;
padding: 0 10px 0 10px;
min-width: 820px!important;
background: rgb(238, 245, 255);
padding-bottom: 1.4em;
}

/*****SEARCH*****/
.proxytbl {
border-collapse: collapse;
border: 1px solid #d5d5d5;
margin-top: 10px;
border: 0;
width: 100%;
}
.proxytbl th {
color: #ffffff;
background: #4e86b5;
font-weight: bold;
font-size: 13px;
}
.proxytbl td {
border: 1px solid #eaeaea;
font: 12px Arial, Verdana, sans-serif;
color: #333;
vertical-align: text-top;
padding: 4px;
}
.t_cycleodd {
background: #89C1F0;
}
.t_cycleeven {
background: #6FBBFB;
}
.t_minus{
background: url("../../img/minus.jpg") no-repeat;
width: 12px;
height: 12px;
float: left;
margin-top: 3px;
cursor: pointer;
}
.t_plus{
background: url("../../img/plus.jpg") no-repeat;
width: 12px;
height: 12px;
float: left;
margin-top: 3px;
cursor: pointer;
}
.t_city{
margin-left: 17px;
}
.t_div_country{
float: left;
}
.t_country_in{
float: right;
}
.t_count_country{
margin: 0px 5px 0 10px;
}
.t_count_city{
float: right;
margin: 0px 5px 0 10px;
}
.t_submit {
float: right;
background: none;
border: none;
color: white;
font-weight: bold;
cursor: pointer;
}
.t_country input[type=text]{
    width: 300px;
}
.t_country_search{
float: left;
width: 70px;
margin-top: 4px;
}
/*****END SEARCH*****/
/*****Popup host*****/
.tr_popup{
height: 2px;
}
.audits_popup h2{
font-size: 14px;
font-weight: normal;
}
.audits_popup h4{
font-size: 11px;
font-weight: normal;
}
.audits_popup {
width:350px;
height:250px;
text-align: center;
}
/*****END Popup host*****/
/*****Menu*****/
.menu {
padding-top: 1px;
margin-top: -10px;
height: 70px;
}
.menu_left{
width: 450px;
float:left;
}
.menu_right{
width: 450px;
float: right;
text-align: right;
font-size: 15px;
}
.header {
background: rgb(175, 175, 175);
margin: 0px -10px 0 -10px;
text-align: right;
font-size: 12px;
padding: 2px 10px 2px 2px;
}
.header a{
    color: black;
}
.header a:hover{
    color: white;
}
/*****End Menu*****/
.footer{
height: 1.4em;
/*position: absolute;*/
bottom: 0;
left: 0;
right: 0;
white-space: nowrap;
max-width: 919px;
margin: 0 auto;
min-width: 820px!important;
background: #4e86b5;
color:white;
text-align: center;
}
.footer p{
font-size: 11px;
margin-top: 6px;
}
.footer p a{
color:#ffffff;
}
.no_result{
max-width: 900px;
margin: 0 auto;
margin-top: 120px;
text-align: center;
}
/*****popup_tarif*****/
.tarif{
width: 70px;
float: left;
margin-left: 5px;
margin-right: 5px;
background: white;
border: 2px solid rgb(66, 126, 240);
padding: 2px;
height: 70px;
margin-bottom: 35px;
margin-top: 28px;
}

/*****end_popup_tarif*****/