<html>
<head>
    <title> {{ sock.hostname }}</title>
    <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet">
</head>
<body   style="margin: -1px;overflow: hidden;">
<div class="audits_popup"><br>
    <h2>Checking proxy...done</h2>
    <h2>Operation get proxy #{{ sock.id }}:{{ sock.country_in }}</h2>
    <h2>completed</h2><br>
    <h2>{{ sock.hostname }}</h2>
    <h2>Proxy IP:PORT: <span>{{ sock.ip }}:{{ sock.port }}</span></h2>
    <h4>SORBS blacklist:no</h4>
    <a onclick="window.close()" href="#">Close</a>

</div>
</body></html>