<html>
<head>
    <title> {{ sock.hostname }}</title>
    <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet">
</head>
<body   style="margin: -1px;overflow: hidden;">
<div class="audits_popup"><br>
    <br><br>
    <h2>Unable to check this socks, try another one... </h2><br>
    <a onclick="window.close()" href="#">Close</a>

</div>
</body></html>