<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet">
</head>
<body>
<div class="content">

  {% block menu %}
     {% include 'menu.html' %}
  {% endblock %}

  {% block profile %}
  {% endblock %}

  {% block search %}
  {% endblock %}
  {% block search_text %}
  {% endblock %}

  {% block content %}
  {% endblock %}
</div>
<div class="footer">
    <p>© 2004-2014 <a href="/">admin.example.com</a> | ICQ: 777888999 | E-mail: <a href="mailto:admin@example.com">admin@example.com</a> </p>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}js/custom.js"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
</script>
</body>
</html>