{% load core_extras %}
<html>
<head>
    <title> {{ core_user.tariff }}</title>
    <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet">
</head>
<body style="margin: -1px;overflow: hidden;">
<form class="form-horizontal" action="{{  request.get_full_path }}" role="form" method="POST" data-submit="password">{% csrf_token %}
<div style="text-align: center;margin-top: 20px">

{% if success %}
Thank you! The rate will be changed during the next date of debiting
{% else %}
{% for tarif in tariff %}

    <div class="tarif">{{ tarif.name }}<br>
    {% if tarif.name == 'unlim' %}∞{% else %}{{ tarif.limit }}{% endif %}<br>
    {{ tarif.price }}<br>
    <input type="radio" name="tarif" value="{{ tarif.id }}">
    </div>

{% endfor %}

<p><button type="submit" >[SAVE]</button></p>
{% endif %}
{% if errors %}
   Error
{% endif %}

{% if similar %}
This tariff you have already activated
{% endif %}
<br>
<a onclick="window.close()" href="#">Close</a>
</div>
</form>
</body></html>