{% load core_extras %}
<html>
<head>
    <title> {{ sock.hostname }}</title>
    <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet">
</head>
<body style="margin: -1px;overflow: hidden;">
<table style="width: 100%" class="proxytbl" cellspacing="1">
  <tbody>
  <tr valign="center" align="right">
      <th></th>
      <th>proxy details</th>
  </tr>
  </tbody>
    <tbody>

    <tr class="tr_popup t_cycleodd">
        <td class="t_host_popup">
            <b>Host:</b>
        </td>
        <td class="t_hostname_popup">
           {{ sock.hostname|edit_host }}
        </td>
    </tr>
    <tr class="tr_popup t_cycleeven">
        <td class="t_status_popup">
           <b>Status:</b>
        </td>
        <td class="t_state">
            Online
        </td>
    </tr>
    <tr class="tr_popup t_cycleodd">
        <td class="t_country_popup">
           <b>Country:</b>
        </td>
        <td class="t_state">
            [{{ sock.country_in }}]{{ sock.country }}
        </td>
    </tr>
    <tr class="tr_popup t_cycleeven">
        <td class="t_city_popup">
           <b>City:</b>
        </td>
        <td class="t_state">
            {{ sock.city }}
        </td>
    </tr>
   <!-- <tr class="tr_popup t_cycleodd">
        <td class="t_state_popup">
           <b>State:</b>
        </td>
        <td class="t_state">
            {{ sock.state }}
        </td>
    </tr>-->
    <tr class="tr_popup t_cycleeven">
        <td class="t_speed_popup">
           <b>Speed:</b>
        </td>
        <td class="t_state">
            {{ sock.speed }}
        </td>
    </tr>
    <tr class="tr_popup t_cycleodd">
        <td class="t_uptime_popup">
           <b>Uptime:</b>
        </td>
        <td class="t_state">
            {{ sock.uptime_beta }}
        </td>
    </tr>
    <tr class="tr_popup t_cycleeven">
        <td class="t_port_popup">
           <b>IP:PORT</b>
        </td>
        <td class="t_state">
            {% if core.unused_proxies == 0 %}
                NO
            {% else %}
            <a  class="click_here" href="{% url "audits_socks" sock.id  %}">click here to view</a>
            {% endif %}
        </td>
    </tr>
    <tr class="tr_popup t_cycleodd">
        <td class="t_id_popup">
           Proxy ID:
        </td>
        <td class="t_state">
            #{{ sock.id }}
        </td>
    </tr>
    <tr align="center">
      <td colspan="2" style="background: #4e86b5;"><a onclick="window.close()" href="#">Close</a></td>
    </tr>
</tbody>



  </table>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}js/custom.js"></script>
</body></html>