<div class="header">
   <a href="/">HOME</a> | <a href="{% url "profile"  name  %}">Account Settings</a> | <a href="/accounts/logout/">[logout]</a>
</div>
<div class="menu">
    <div class="menu_left">
        <p>Hello <b>{{ name }}</b>!</p>
        <p style="font-size: 12px;">There are {{ socks_count }} proxies online at this time</p>
    </div>
    <div class="menu_right">
      <p>Date: {% now "j/n/Y H:i:s" %}</p>
      <p>Next pay date: {{ paid_till|date:"j/n/Y H:i:s" }}{{ user.paid_till|date:"j/n/Y H:i:s" }}</p>
    </div>
</div>