{% extends 'base.html' %}
{% block profile %}
<table style="width: 100%" class="proxytbl" cellspacing="1">
  <tbody>
  <tr align="center">
      <td colspan="2" style="background: #4e86b5;">Account {{ user.user.username }} settings</td>
    </tr>
  </tbody>
    <tbody>

    <tr class="tr_popup t_cycleodd">
        <td class="t_host_popup">
            <b>Email:</b>
        </td>
        <td class="t_hostname_popup">
           {{ user.email }}
        </td>
    </tr>
    {% if user.icq == 0 %}
    {% else %}
    <tr class="tr_popup t_cycleeven">
        <td class="t_status_popup">
           <b>ICQ:</b>
        </td>
        <td class="t_state">
            {{ user.icq }}
        </td>
    </tr>
    {% endif %}
    {% if user.jabber == '0' %}
    {% else %}
    <tr class="tr_popup t_cycleodd">
        <td class="t_country_popup">
           <b>Jabber:</b>
        </td>
        <td class="t_state">
           {{ user.jabber }}
        </td>
    </tr>
    {% endif %}

    <tr class="tr_popup t_cycleeven">
        <td class="t_city_popup">
           <b>Password:</b>
        </td>
        <td class="t_state">
            [<a onclick="window.open('{% url 'edit_password' %}','','resizable=yes,status=0,toolbar=0,menubar=0,width=350,height=250,left=500,top='+(screen.availHeight/2-365)+'');return false;" href="{%   url 'edit_password' %}">click here to change</a>]
        </td>
    </tr>
    <tr class="tr_popup t_cycleodd">
        <td class="t_state_popup">
           <b>Account created:</b>
        </td>
        <td class="t_state">
            {{ user.user.date_joined|date:"j/n/Y H:i:s" }}
        </td>
    </tr>

    <tr align="center">
      <td colspan="2" style="background: #4e86b5;"></td>
    </tr>

    <tr class="tr_popup t_cycleeven">
        <td class="t_speed_popup">
           <b>Account:</b>
        </td>
        <td class="t_state">
            {{ user.get_account_display }}
        </td>
    </tr>
    <tr class="tr_popup t_cycleodd">
        <td class="t_uptime_popup">
           <b>Unused proxies:</b>
        </td>
        <td class="t_state">
            {% if user.tariff.name == 'unlim' %}∞{% else %}{{ user.unused_proxies }}{% endif %}

        </td>
    </tr>
    {% if user.balance != 'None' %}
        <tr class="tr_popup t_cycleeven">
        <td class="t_port_popup">
           <b>Remaining balance:</b>
        </td>
        <td class="t_state">
            {{ user.balance }}$
        </td>
    </tr>
    {% else %}

    {% endif %}
    <tr class="tr_popup t_cycleeven">
        <td class="t_port_popup">
           <b>Paid till:</b>
        </td>
        <td class="t_state">
            {{ user.paid_till|date:"j/n/Y H:i:s" }}
        </td>
    </tr>

    <tr align="center">
      <td colspan="2" style="background: #4e86b5;"></td>
    </tr>

    <tr class="tr_popup t_cycleodd">
        <td class="t_id_popup">
           Tariff:
        </td>
        <td class="t_state">
            {{ user.tariff }} [<a onclick="window.open('{% url 'choice_tarif' %}','','resizable=yes,status=0,toolbar=0,menubar=0,width=350,height=250,left=500,top='+(screen.availHeight/2-365)+'');return false;" href="{%   url 'choice_tarif' %}">Change</a>]
        </td>
    </tr>
    <tr align="center">
      <td colspan="2" style="background: #4e86b5;">© 2004-2014</td>
    </tr>
</tbody>
  </table>
<form class="form-horizontal" action="{{  request.get_full_path }}" role="form" method="POST" data-submit="classesGroupFormSubmit">{% csrf_token %}
<table style="width: 100%" class="proxytbl" cellspacing="1">
  <tbody>
  <tr align="center">
      <td colspan="2" style="background: #4e86b5;">Interface settings</td>
  </tr>
  </tbody>
    <tbody>

    <tr class="tr_popup t_cycleodd">
        <td class="t_host_popup" style="width: 392px;">
            <b>Proxy list size:</b>
        </td>
        <td class="t_hostname_popup">
           <input type="text" value="{{ user.proxy_list_size }}" name="list_size"> lines per page
        </td>
    </tr>
    <tr align="right">
      <td colspan="2" style="background: #4e86b5;"><button type="submit" class="t_submit">[save]</button></td>
    </tr>
</tbody>
  </table></form>

{% endblock %}