{% extends 'base.html' %}
{% load core_extras %}
{% block content %}




{%  if socks %}
  <table class="proxytbl" cellspacing="1">
  <tbody><tr valign="center" align="center">
    <th>№</th>
    <th>HostName</th>
    <th>Country</th>
    <!--<th>St.</th>-->
    <th>City</th>
    <th>Uptime</th>
    <th>Last check</th>
    <th>Speed</th>
  </tr>
{% for sock in socks %}
    <tr>
        <td {% for used in user.used.all %}{% if used == sock %}style="background: red"{% endif %}{% endfor %} class="t_id">
            {{ forloop.counter }}
        </td>
        <td class="t_hostname">
           <a target="_self" onclick="window.open('{% url 'host_view'  sock.id %}','{{ sock.hostname }}','resizable=yes,status=0,toolbar=0,menubar=0,width=350,height=250,left=500,top='+(screen.availHeight/2-365)+'');return false;" href="/host/{{ sock.id }}/">{{ sock.hostname|edit_host }}</a>
        </td>
        <td class="t_country">
           {{ sock.country }}
        </td>
        <!--<td class="t_state">
        </td>-->
        <td class="t_city">
            {{ sock.city }}
        </td>
        <td class="t_uptime">
            {{ sock.uptime_beta }}
        </td>
        <td class="t_check">
            {{ sock.last_check|date:"H:i:s" }}
        </td>
        <td class="t_speed">
            {{ sock.speed }}
        </td>

{% endfor %}

    </tr>


<tr align="center">
      <td colspan="8" style="background: #4e86b5;">
      <span style="float:left">[<a href="/">Search</a>]</span>
 <div class="pagination">
    <span class="step-links">
        {% if socks.has_previous %}
            <a href="?page={{ socks.previous_page_number }}">previous</a>
        {% endif %}
        {% if socks.paginator.num_pages %}
        <span class="current">
            Page {{ socks.number }} of {{ socks.paginator.num_pages }}.
        </span>
        {% endif %}

        {% if socks.has_next %}
            <a href="?page={{ socks.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
  </td>
    </tr>
</tbody>

  </table>


{% else %}
<div class="no_result">
<h2>Your search - did not match any proxies.<br>
<a href="/">Search again</a></h2>
</div>
{% endif %}

{% endblock %}
