{% extends 'base.html' %}
{% load core_extras %}
{% block search %}
<form class="form-horizontal" action="/list" role="form" method="POST" data-submit="classesGroupFormSubmit">{% csrf_token %}




    <table class="proxytbl" cellspacing="1">
  <tbody>
<tr valign="center" align="center">
    <th>time: {% now "j/n/Y H:i:s" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;there are {{ socks.count }} socks online at this moment in countries <b  class="country_count"></b></th>
  </tr>


  {% regroup socks by country as timl %}
                  {% for t in timl %}
    <tr class="t_cycle{% cycle 'odd' 'even' %}">

        <td class="t_country">
            <div class="t_plus_click t_plus"></div>
            <div class="t_div_country">
                 <input type="checkbox" value="{{ t.grouper }}" name="country" class="jstyle check-style"><a href="{% url 'search_obj_country'  t.grouper %}">{{ t.grouper }}</a>

            <div style="display: none;" class="t_city">
            {% regroup t.list by city as timl %}
                  {% for c in timl %}
                  {% if c.grouper == 'unknown' %}
                  <input type="checkbox" value="{{ t.grouper }},{{ c.grouper }}" name="city_un" class="jstyle check-style"><a href="{% url 'search_obj' t.grouper c.grouper %}">{{ c.grouper }}</a>
                  {% else %}
                  <input type="checkbox" value="{{ c.grouper }}" name="city" class="jstyle check-style"><a href="{% url 'search_obj' t.grouper c.grouper %}">{{ c.grouper }}</a>
                  {% endif %}
                      <span class="t_count_city">{{ c.grouper|count_city:t.grouper }}</span>
                  <span style="float:right">--</span>
                  <br>
                  {% endfor %}
            </div>
            </div>

            <div class="t_country_in">{% regroup t.list by country_in as timl %}{% for i in timl %}{{  i.grouper }}{% endfor %}
            <span class="t_count_country">{{ t.grouper|count_country }}</span>
            </div>
        </td>



</tr>
    {% endfor %}
  <tr valign="center" align="center">
    <th><button type="submit" class="t_submit">GO >></button></th>
  </tr>

</tbody>


    </table>



</form>
{% endblock %}

{% block search_text %}
<form class="form-horizontal" action="/search" role="form" method="POST" data-submit="classesGroupFormSubmit">{% csrf_token %}




    <table class="proxytbl" cellspacing="1">
  <tbody>

  <tr valign="center" align="left">
    <th>Search...</th>
  </tr>


    <tr>
        <td class="t_country">
            <div class="t_country_search">by City:</div>
            <input  type="text" name="city" size="290">
            [enter needed cities, e.g. Moscow,New York,Amsterdam,New*,...]<br>
            <div class="t_country_search">by Country:</div>
            <input  type="text" name="country" size="290">
            [enter needed countries, e.g. Italy,France,Portugal,...] You can use*<br>
            <div style="display: none"><div class="t_country_search">by State:</div>
            <input  type="text" name="state" size="290">
            [enter needed states, e.g. CA,MA,NY,...] You can use*<br></div>
            <div class="t_country_search">by Host:</div>
            <input  type="text" name="host" size="290">
            [enter needed hostnames, e.g. *pacebell.net,*adsl*,*.aol.com,...]<br>
            <div class="t_country_search">by IP:</div>
            <input  type="text" name="ip" size="290">
            [enter needed ip mask, e.g. 80.*.132.11,173.90.*.*,...]<br>
        </td>
    </tr>
  <tr valign="center" align="center">
    <th><button type="submit" class="t_submit">SEARCH</button></th>
  </tr>

</tbody>


    </table>



</form>

{% endblock %}