<html>
<head>
    <title></title>
<link href="{{ STATIC_URL }}/css/login_style.css" rel="stylesheet">
</head>
<body>
{% block content %}



<div class="content">
<section class="login">
  <h1>Sign in</h1>
  <form action='.' method='post'>{% csrf_token %}
  <p><input type="text" name="username" value="" id="username" placeholder="Username"></p>
  <p><input type="password" name="password" value="" id="password" placeholder="Password"></p>
  <input type="submit" value="login" />
    <input type="hidden" name="next" value="/" />
  </form>
    {% if errors %}
    <p class="error">We are sorry, you have entered <br>the wrong username or password</p>
  {% endif %}
  </section>
</div>
  <!--<section class="login-help">
  <p>Забыли пароль? <a href="http://yraaa.ru">Восстановить</a>.</p>
  </section>-->


{% endblock %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
</script>
</body>

</html>