{% load core_extras %}
<html>
<head>
    <title> {{ core_user }}</title>
    <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet">
</head>
<body style="margin: -1px;overflow: hidden;">
<form class="form-horizontal" action="{{  request.get_full_path }}" role="form" method="POST" data-submit="password">{% csrf_token %}
<div style="text-align: center;margin-top: 20px">
{% if errors %}
   We could not verify your credentials. Please double-check and try again..
{% endif %}
{% if success %}
    Congratulations password is changed
{% else %}
Current password:
<p><input type="text" value="" name="password"></p>
New password:
<p><input type="text" value="" name="new_password"></p>

<p><button type="submit" >[SAVE]</button></p>
{% endif %}
<br>
<a onclick="window.close()" href="#">Close</a>
</div>
</form>
</body></html>