
<html>
<head>
    <title></title>
<link href="{{ STATIC_URL }}/css/login_style.css" rel="stylesheet">
</head>
<body>
{% block content %}



<div class="content">
<section class="login">
  <h1>Registration</h1>
  <form action='/registration' method='post'>{% csrf_token %}
  <p>{{ coreuser_forms.username }}</p>
  <p>{{ coreuser_forms.email }}</p>
  <p>{{ coreuser_forms.jabber }}</p>
  <p>{{ coreuser_forms.icq }}</p>
  <p>{{ coreuser_forms.password }}</p>
  <p>{{ coreuser_forms.tariff }}</p>
  <input type="submit" value="login" />
  </form>
    {% if errors %}
    <p class="error">Error</p>
  {% endif %}
  </section>
</div>
  <!--<section class="login-help">
  <p>Забыли пароль? <a href="http://yraaa.ru">Восстановить</a>.</p>
  </section>-->


{% endblock %}
</body>
</html>